server:
  port: 80
cors:
  originPatterns: http://localhost:8080,https://erudio.com.br,http://localhost:4200,http://localhost:3000
file:
  uploadDir:  ../UploadDir  
security:
  jwt:
    token:
      secret-key: 53cr37
      expire-length: 3600000  
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://rest-with-spring-boot.cawsehfzey98.us-east-1.rds.amazonaws.com:3306/rest_with_spring_boot?useTimezone=true&serverTimezone=UTC
    username: docker
    password: admin123
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size:  215MB
springdoc:
  paths-to-match:
  - /auth/**
  - /api/**/v1/**
  swagger-ui:
    use-root-path: true         