cors:
  originPatterns: http://localhost:8080,https://erudio.com.br,http://localhost:4200,http://localhost:3000
file:
  uploadDir:  ../UploadDir  
security:
  jwt:
    token:
      secret-key: 53cr37
      expire-length: 3600000  
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/rest_with_spring_boot
    username: postgres
    password: admin123
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non-contextual-creation: true
    show-sql: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size:  215MB
springdoc:
  paths-to-match:
  - /auth/**
  - /api/**/v1/**
  swagger-ui:
    use-root-path: true         